<div id="accounts" class="container-fluid">
    <div class="alert alert-danger" role="alert" ng-show="errors">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{status}} : {{ errorMessage }}
    </div>
    <table class="table table-striped" ng-show="!adding&&!editing">
        <tr id="user-heading">
            <th>ID</th>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Reset Password?</th>
            <th>Remove?</th>
        </tr>
        <tr ng-repeat="person in people" ng-mousedown="" id="person_{{ person.id }}">
            <td id="person_{{ person.id }}_id"> <a href="" ng-click="edit( person.id )">{{ person.id }} </a></td>
            <td id="person_{{ person.id }}_email"> <a href="" ng-click="edit( person.id )">{{ person.email }} </a></td>
            <td id="person_{{ person.id }}_fname"> {{ person.fname }} </td>
            <td id="person_{{ person.id }}_lname"> {{ person.lname }} </td>
            <td id="person_{{ person.id }}_role"> {{ person.role }} </td>
            <td id="person_{{ person.id }}_reset"> <a ng-click="resetPassword( person.id )"><i class="glyphicon glyphicon-wrench"></i></a> </td>
            <td id="person_{{ person.id }}_remove"> <a ng-click="remove( person.id )"><i class="glyphicon glyphicon-remove"></i></a> </td>
        </tr>
        <tr ng-show="!adding&&!editing">
            <td colspan="7" id="user-add"><a href="" ng-click="add()"><i class="glyphicon glyphicon-plus"></i> Add</a></td>
        </tr>
    </table>

    <div id="addUserDiv" ng-show="adding||editing" class="slide">
        <form role="form" ng-submit="adding ? saveAdd() : saveEdit()">
            <table class="table">
                <div class="form-group" ng-show="editing">
                    <label for="id">ID:</label>
                    <input type="text" class="form-control disabled" data-ng-required="true" id="id" name="id" ng-model="userparams.id" disabled/>
                </div>
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" class="form-control" data-ng-required="true" id="email" name="email" placeholder="john.smith@gmail.com" ng-model="userparams.email"/>
                </div>
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input type="text" class="form-control" data-ng-required="true" id="fname" name="fname" placeholder="John" ng-model="userparams.fname"/>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name:</label>
                    <input type="text" class="form-control" data-ng-required="true" id="lname" name="password" placeholder="Smith" ng-model="userparams.lname"/>
                </div>
                <div class="form-group">
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                            {{ selectedRole || "Select a Role"}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="single-button" aria-expanded="true" data-toggle="dropdown"
                            role="menu">
                            <li ng-repeat="role in possibleRoles" role="menuitem"><a href="" ng-click="setRole(role)">{{ role }}</a></li>
                        </ul>
                    </div>
                </div>
            </table>



            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" ng-click="cancelAll()" class="btn btn-danger">Cancel</button>
        </form>
    </div>


</div>