<div id="accounts" class="container-fluid">
    <div id="alertRow" class="row">
        <alertbar></alertbar>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tr id="user-heading">
                <th>ID</th>
                <th>Email Address</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Reset Password?</th>
                <th>Remove?</th>
            </tr>
            <tr ng-repeat="person in people" ng-mousedown="" id="person_{{ person.id }}">
                <td id="person_{{ person.id }}_id"> <a href="" ng-click="editUser( person.id )">{{ person.id }} </a></td>
                <td id="person_{{ person.id }}_email"> <a href="" ng-click="editUser( person.id )">{{ person.email }} </a></td>
                <td id="person_{{ person.id }}_fname"> {{ person.fname }} </td>
                <td id="person_{{ person.id }}_lname"> {{ person.lname }} </td>
                <td id="person_{{ person.id }}_role"> {{ person.role }} </td>
                <td id="person_{{ person.id }}_reset"> <a ng-click="resetPassword( person.id )"><i class="glyphicon glyphicon-wrench"></i></a> </td>
                <td id="person_{{ person.id }}_remove"> <a ng-click="remove( person.id )"><i class="glyphicon glyphicon-remove"></i></a> </td>
            </tr>
            <tr>
                <td colspan="7" id="user-add"><a href="" ng-click="addUser()"><i class="glyphicon glyphicon-plus"></i> Add</a></td>
            </tr>
        </table>
    </div>

</div>