<div class="container">
    <div id="alertRow" class="row">
        <alertbar></alertbar>
    </div>
    <form role="form" ng-submit="uploadFile()">
        <div class="col-12">
            <h4>Complete Assignment {{ assignmentId }}</h4>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type='file' file-model='file'>
                    </span>
                </span>
                <input type="text" class="form-control" value="{{ file.name }}" readonly>
            </div>
            <span class="help-block">
                Select your completed assignment for uploading
            </span>

        </div>
        <div class="col-xs-offset-10 col-2">
            <button type="submit" class="btn btn-primary" ng-click="upload()">Upload</button>
            <button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>