<div class="container">

    <div id="batchesView">
        <div id="alertRow" class="row">
            <alertbar></alertbar>
        </div>

        <!-- Header -->
        <div id="heading" class="row">
            <div id="left-heading" class="col-md-2">
                <h1>Batches</h1>
            </div>
            <div id="right-heading" class="col-md-offset-2 col-md-8">
                <div id="search">
                    <div class="input-group">
                        <input type="text" class="form-control search" placeholder="Search Batch Names..." ng-model="searchparams.batchName" ng-change="getBatches()">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                    </div><!-- /input-group -->
                </div>
                <div id="create-batch-button">
                    <button type="button" class="btn btn-primary" ng-click="createBatch()">Create Batch</button>
                </div>
            </div>
        </div>


        <!-- Batches/Main Content -->

        <accordion close-others="true">
            <div id="batches" class="row" dir-paginate="batchinfo in batches | itemsPerPage: 10">
                <accordion-group id="batch_{{batchinfo.id}}" class="{{batchinfo.class}}" panel-class="{{batchinfo.class}}" is-open="false">
                    <accordion-heading>
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> [{{ batchinfo.id }}] {{ batchinfo.name }}
                        {{ batchinfo.status == "Uncompleted"? "" : "(" + batchinfo.status + ")"}}
                    </accordion-heading>

                    <div class="panel-body">
                        <table id="batch_{{batchinfo.id}}-table" class="table table-bordered table-striped">
                            <tr>
                                <th>Batch Upload Date</th>
                                <th># of Records</th>
                                <th>Original Batch File</th>
                                <th># of Unvalidated Records</th>
                                <th>Post-Validation Batch File</th>
                            </tr>
                            <tr>
                                <td>{{ batchinfo.original.uploadDate | date:'medium'}}</td>
                                <td>{{ batchinfo.numberOfRecords }}</td>
                                <td><a href="" ng-click="downloadAttachment(batchinfo.original.id)">download</a></td>
                                <td>{{ batchinfo.numberOfUnvalidatedRecords }}</td>
                                <td><a href="" ng-click="downloadAttachment(batchinfo.postValidation.id)">download</a></td>
                            </tr>
                            <tr>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Assignment</th>
                                        <th>Created</th>
                                        <th>Records in Assigment</th>
                                        <th>Original Assignment</th>
                                        <th>Completed Assignment</th>
                                        <th>Completed Date</th>
                                        <th>Billable Hours</th>
                                        <th>Delete?</th>
                                    </tr>
                                    <tr ng-repeat="assignment in batchinfo.assignments">
                                        <td>{{ assignment.isAutoGenerated ? "Failed Default Validations" : assignment.userAccount.fname + " " + assignment.userAccount.lname}}</td>
                                        <td>{{ assignment.originalAssignment.uploadDate | date:'medium'}}</td>
                                        <td>{{ assignment.numberOfRecords }}</td>
                                        <td><span ng-show="!assignment.isAutoGenerated"><a href="" ng-click="downloadAttachment(assignment.originalAssignment.id)">download</a></span></td>
                                        <td><a href="" ng-show="!assignment.isAutoGenerated" ng-click="uploadCompletedAssignment(assignment.id)">upload</a>
                                            <span ng-show="assignment.completedAssignment && !assignment.isAutoGenerated"> | </span>
                                            <span ng-show="assignment.completedAssignment || assignment.isAutoGenerated">
                                                <a href="" ng-click="downloadAttachment(assignment.completedAssignment.id)">download</a>
                                            </span>
                                        </td>
                                        <td>{{ assignment.completedAssignment.uploadDate | date:'medium'}}</td>
                                        <td><span ng-show="assignment.completedAssignment && !assignment.isAutoGenerated">{{ assignment.billableHours }} <a href="" ng-click="setHours(assignment.id)">(set)</a></span> <a href="" ng-show="assignment.billableHours" ng-click="clearHours(batchinfo.id, assignment.id)">(clear)</a></span></td>
                                        <td><span ng-show="!assignment.isAutoGenerated"><a href="" ng-click="deleteAssignment(batchinfo.id, assignment.id)"><i class="glyphicon glyphicon-remove redglyph"></i></a></span></td>
                                    </tr>
                                </table>
                            </tr>
                        </table>
                        <a href ng-click="addAssignment(batchinfo.id)"><i class="glyphicon glyphicon-plus"></i> Add Assignment</a>

                    </div>
                </accordion-group>
            </div>
        </accordion>

        <!-- Pagination Buttons -->
        <div class="row">
            <div class="col-md-12 text-center">
                <dir-pagination-controls></dir-pagination-controls>
            </div>
        </div>

    </div>

</div>