<div class="container">
    <div id="alertRow" class="row">
        <alertbar></alertbar>
    </div>
    <div class="row">
        <form class="form-horizontal" role="form" ng-submit="uploadFile()">
            <h3>Create an Assignment</h3>

            <div class="form-group">
                <label class="col-md-2 control-label" for="assignee">Assignee</label>
                <div class="input-group controls dropdown col-md-3">
                    <select id="assignee" class="form-control" required="true" ng-options="'[' + person.id + '] ' + person.fname + ' ' + person.lname for person in people" ng-model="userSelected">
                        <!--<option ng-repeat="person in people" ng-selected="userId=person.id">[{{ person.id }}] {{ person.fname }} {{ person.lname }}</option>-->
                    </select>
                </div>
            </div>

            <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type='file' file-model='file'>
                        </span>
                    </span>
                <input type="text" class="form-control" value="{{ file.name }}" readonly>
            </div>
            <div>
                <span class="help-block">
                    Select a File that will be the starting point for an assignment
                </span>
            </div>
            <div class="col-xs-offset-10 col-2">
                <button type="submit" class="btn btn-primary" ng-click="upload()">Upload</button>
                <button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
            </div>

        </form>
    </div>
</div>
