<div id="navbar" ng-controller="navbarCtrl" class="col-md-12">
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ng-click="goto('/')">Informatics Work Manager</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="authenticated"><a href="" ng-click="goto('/assignments')"><i class="glyphicon glyphicon-edit"></i> Assignments</a></li>
                    <li ng-show="authenticated"><a href="" ng-click="goto('/reporting')"><i class="glyphicon glyphicon-scale"></i> Reporting</a></li>
                    <li ng-show="authenticated"><a href="" ng-click="goto('/accounts')"><i class="glyphicon glyphicon-user"></i> Accounts</a></li>
                    <li ng-show="authenticated"><a href="" ng-click="logout()"><i class="glyphicon glyphicon glyphicon-log-out"></i> Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>